h1.nav {
	color: #000;
	font-size: 40px;
	font-weight: 300;
}

nav ul li a {
	color: #FFF;
}

sup {
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
}

/** {
	margin: auto;
	font-family: Muli;
}*/

/* Navigation Section */

/*nav {
	background-color: #FE7E00;
	height: 120px;
	border-bottom: 6px groove #FC7B03;
}*/

/*nav .nav-wrap {
	width: 100%
}
*/

nav ul {
    /*display: inline;*/
    /* padding: 0 50px 20px 0; */
    /* margin-left: 21%; */
    /*font-size: 18px;*/
    /*width: 50%;*/
    /* text-align: right; */
    /*padding: 30px;*/
    /* margin: auto; */
}

/*  original nav ul

nav ul {
	display: inline-block;
	padding: 0 50px 20px 0;
	margin-left: 21%;
	font-size: 18px;
}*/

/*nav ul li {
	margin-top: 25px;
	display: inline-block;
	padding: 30px;
	
}*/

/*nav ul li a {
	text-decoration: none;
	color: #FFF;
}
*/

.logo {
    /*display: inline-block;*/
    /* margin-left: 90px; */
    /* margin-right: 65px; */
    /*width: 50%;*/
}


/*         Original .logo
.logo {
	display: inline-block;
	margin-left: 90px;
	margin-right: 65px;
}*/

/*h1.nav {
	display: inline;
	color: #000;
	font-size: 40px;
	font-weight: 300;
	padding-left: 30px;
}*/

/*nav .logo h1 span {
	font-weight: 900;
}

nav .logo sup {
	font-weight: 100;
	font-size: 10px;
}


.container {
	margin: auto;
	width: 97%;
}*/

/* --- Search section --- */

.search form input {
	background-color: #EFEFEF;
	height: 65px;
	width: 250px;
	border: none;
	color: #D9D9D9;
	font-size: 16px;
}

.search form input {
	
}

.search-icon {
		/*border: 1px solid #000;*/
		display: inline-block;
		float: right;
		margin: 5px 50px 0 0;
		height: 49px;
		width: 45px;
		background-color: #EFEFEF;
		text-align: center;
		padding-top: 18px;
		padding-right: 10px;
}

.search-icon .fa-search {
	color: #D9D9D9;
	font-size: 26px;
}

.search {
	float: right;
	display: inline-block;
	margin: 5px 0 50px;
}

 /* --- Main Section --- */
.wrap {
	height: 800px;
	width: 100%;
	white-space: nowrap;
	overflow: none;
}

.main {
	/*border: 1px solid #000;*/
	display: inline-block;
	white-space: normal;
/*	margin: auto;*/
	width: 50%;
	height: 280px;
	/*padding-top: 50px;*/
	/*text-align: left;*/
}

/*div.main {
	margin-right: 50px;
}*/

/* ---  Image Section --- */
div.orange {
	/*margin: auto;*/
	white-space: normal;
	width: 50%;
	display: inline-block;
	text-align: center;
	/*padding: 4% 0 0% 4%;*/
	/*margin: 60px 90px 60px 0;*/
	/*padding: 90px 0 90px 160px;*/
}

.fixed-ratio-resize {
	max-width: 100%;
	height: auto;
	width: auto\12;
	}

/*.orange {
	margin-left: 100px;
}*/

 /* --- Main Content Section --- */

.description p {
	/*display: inline;*/
	color: #FE7E00;
	font-size: 44px;
	font-weight: 300;
	line-height: 55px;
	/*padding-left: 30px;*/
}

 .description p span {
	font-weight: 900;
}

.blue {
	font-weight: 900;
	color: #7ACCC8;
}

.description p sup {
	font-weight: 900;
	font-size: 14px;
}

/* --- Text and Button Section --- */
.buttons {
	padding-top: 40px;
	margin: auto;
	width: 100%;
}

.left-button {
	height: 67px;
	width: 43%;
	margin-right: 25px;
	background-color: #FE7E00;
	color: #FFF;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

.right-button {
	height: 67px;
	width: 43%;
	margin-left: 5px;
	background-color: #7ACCC8;
	color: #FFF;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

/* --- Footer section --- */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #7ACCC8;
	height: 120px;
}

/* --- Responsive design for nav ignored until bootstrap learned --- */

/*@media (min-width: 1222px) {
	nav ul {
		margin-left: 15%;
	}

}*/

/*@media (min-width: 1134px) {
	nav ul {
		margin-left: 10%;
	}
*/

/* --- Respnsive design for button section --- */
/*@media (max-width: 1020px;) {
	.left-button {
		width: 45%;
	}
	.right-button {
		width: 45%;
	}
}*/

/* --- Responsive design for main content --- */
@media (max-width: 765px;) {
	.wrap {
		/*text-align: center;*/
		display: none;
	}
	div.orange {
		width: 100%;

	}
	.main {
		width: 100%;
	}

}









